<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panel Projektów Administratora</title>
</head>
<body>
<div th:insert="navbar"></div>
<div class="flex items-center justify-center bg-gray-100">
    <div class="px-8 py-6 mx-4 mt-4 text-left bg-white shadow-lg md:w-1/2 lg:w-1/2 sm:w-1/2">
        <h3 class="text-2xl font-bold text-center">Tematy Projektów</h3>
        <table class="mr-3 divide-gray-200 w-full">
            <thead class="bg-gray-50 w-full">
            <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Temat Projektu</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Opis Projektu</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Termin Ostateczny</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Dostępność</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Maksymalna Ilość projektów</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Usuń temat</th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
            <tr th:each="project : ${projects}">
                <td class="px-6 py-4 whitespace-nowrap" th:text="${project.getName()}"></td>
                <td style="overflow: hidden; max-width: 180px" class="px-6 py-4 whitespace-nowrap" th:text="${project.getDescription()}"></td>
                <td class="px-6 py-4 whitespace-nowrap" th:text="${#dates.format(project.getDeadline(), 'dd-MMM-yyyy')}"></td>
                <td class="px-6 py-4 whitespace-nowrap" th:text="${project.isReserved()} ? 'Nie' : 'Tak'"></td>
                <td class="px-6 py-4 whitespace-nowrap" th:text="${project.getMultipleMaxCount()}">
                    <td class="px-6 py-4 whitespace-nowrap">
                    <button>
                        <a th:href="@{/project_topic/delete/{id}(id=${project.getId()})}" style="color: red;"><b>Usuń</b></a>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
<div class="px-8 py-6 mx-4 mt-4 text-left bg-white shadow-lg md:w-1/2 lg:w-1/2 sm:w-1/2">
    <h3 class="text-2xl font-bold text-center">Dodaj nowy projekt</h3>
    <form th:action="@{/addProjectTopic}" method="post" class="w-1/2 mx-auto">
        <div class="shadow sm:rounded-md">
            <div class="px-4 py-5 bg-white sm:p-6 rounded-2xl">
                <div>
                    <label class="block" for="name">Nazwa Projektu</label>
                    <input type="text" placeholder="Nazwa Projektu" id="name" name="name"
                           class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                </div>
                <div class="mt-4">
                    <label class="block" for="description">Opis projektu</label>
                    <input type="text" placeholder="Opis projektu" id="description" name="description"
                           class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                </div>
                <div class="mt-4">
                    <label class="block" for="deadline">Termin oddania projektu</label>
                    <input type="date" id="deadline" name="deadline"
                           class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                </div>
                <div class="mt-4">
                    <label class="block" for="multipleMaxCount">Maksymalna ilość projektów</label>
                    <input type="number" placeholder="Maksymalna ilość projektów" id="multipleMaxCount" name="multipleMaxCount"
                           class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                </div>
                <div class="flex">
                    <button class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-black bg-gray-300 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        Dodaj Projekt</button>

                </div>
            </div>
        </div>
    </form>
</div>
</div>
</body>
</html>